body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Helvetica Neue';
}

.polygon-draw {
    background-image: url('../images/pencil.png');
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.main-navbar {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.main-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-navbar li {
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    font-size: 1em;
    line-height: 20px;
    height: 20px;
    cursor: pointer;
}
.main-navbar li.selected {
    border-bottom: 2px solid #029BE5;
}

.nav {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    background: #fbfbfb;
    z-index: 400;
    height: 50px;
    display: flex;
}

.logo a {
    text-indent: -9999px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url('../images/logos.png');
    background-size: 179px 109px;
    overflow: hidden;
    display: block;
    width: 179px;
    height: 32px;
}

.content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-grow: 1;
}

.main-content {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
}
.upper-content {
    display: flex;
    flex-direction: column;
}
.lower-content {
    display: flex;
    flex-direction: row;
}

.actions-tools {
    display: flex;
    flex-direction: column;
}

.toolbar {
    margin-left: 150px;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.toolbar-actions {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}

.polygons-list {
    padding: 15px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    background-color: darkgray;
}

.toolbar-actions, .polygons-list {
    display: flex;
}

.tool-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.shapes-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.polygon-overview {
    fill: transparent;
    stroke: #AAAAAA;
    stroke-linejoin: round;
}

.polygon-overview.selected {
    fill: white;
    stroke: #029BEA;
}

.shapes-preview > svg {
    margin: 15px;
    overflow: visible;
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    transform-origin: center;
    cursor: pointer;
}

.shapes-preview > svg:hover {
    transform: scale(1.5, 1.5);

}
.hidden {
    display: none !important;
}

.guards {
    margin: 15px;
}

.guard {
    width: 40px;
    height: 100px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url('../images/guard.png');
    display: inline-block;
    transition: 0.2s filter linear, 0.2s -webkit-filter linear;
}

.guard:hover {
    filter: grayscale(1.0);
}

.guard.passive {
    filter: grayscale(1.0);
}

.solve, .try_another, .skip, .previous, .next, .guard {
    cursor: pointer;
}
.intro-navigation {
    display:flex;
    flex-direction: row;
}

.previous, .next, .skip, .solve {
    flex:auto;
    flex-shrink: 1;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #029BE5;
    background: #029BE5;
    font-size: 15px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    color: white;
}

/**
 * Interim solution
 */
.solve {
    padding-left:10px;
    padding-right:10px;
    margin: 0 auto 0 15px;
}


.next {
    margin-left: 15px;
}

.skip {
    color: black;
    background: transparent;
    border: none;
}

.intro-content {
    text-align: justify;
    font-size: 15px;
    line-height: 22px;
}

.container {
    width:1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-top: auto;
    margin-bottom: auto;
}

.main-title {
    font-size: 40px;
}

.sub-title {
    font-size: 22px;
    font-weight: 800;
    padding-bottom: 10px;
}

.nav-title {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 14px;
}